[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "third_party/ffmpeg"]
	path = third_party/ffmpeg
	url = https://github.com/ffmpeg/ffmpeg
[submodule "third_party/sdl"]
	path = third_party/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "third_party/libportal"]
	path = third_party/libportal
	url = https://github.com/flatpak/libportal
